
.newsletter {
    width: 500px;
    font-family: maven pro;
    margin: 10px;
    color: springgreen;
  }

  .col {
    margin: 10px;
    font-family: maven pro;

    .col-sm-10 {
        margin: 10px;
  }
  }